
<canvas id="gamecanvas" width="500" height="500" style="border:1px solid #000000;"></canvas>

<div id="messager"></div>
<input type="button" id="allplayers" value="Get ALL PLAYERS!"/>
<br>
<input type="text" id="messagetxt" />
<input type="button" id="messagesend" value="SEND"/>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/gameengine-client.js"></script>

<script>
    
    //io.sails.autoConnect = false;
    console.log(io.socket);
    console.log(GAME);
    
    GAME.setPlayerController('<%=req.session.user.email%>');
   
    // JOINING BATTLE!!
    
    io.socket.get('/socket/join', function(data) {
        console.log('Joined as ' + data.myId);
        GAME.setPlayerController(data.myId);
    });
    
    io.socket.on('receiveAllPlayersStats', function(data) {
        GAME.createAllPlayers(data.players);
    });
    
    io.socket.on('onPlayerUpdate', function(data) {
        GAME.updatePlayer(data.id, data.stats);
    });
    
    io.socket.on('onAttack', function(data) {
        GAME.checkAttack(data);
    });
    
    
    
    
    // OTHERS
    
    io.socket.on('meeezage', function(msg) {
        document.getElementById('messager').innerHTML = document.getElementById('messager').innerHTML + msg.message + "<br>";
        console.log('onMeeezage()');
    }); 
    
    document.getElementById("allplayers").addEventListener("click", getAllPlayersList);
    document.getElementById("messagesend").addEventListener("click", sendMessage);
    
    function sendMessage() {
        var mm = document.getElementById("messagetxt").value;
        io.socket.get('/socket/broadcast?message=' + mm, function(data) {
            console.log(data);
        });
    }
    
    function getAllPlayersList() {
        io.socket.get('/socket/subscribers', function(data) {
            console.log(data);
        });
        //document.getElementById('messager').innerHTML = msg.message;
    }
    
</script>