<h2>Greetings <% if (req.session.user) { %><%= req.session.user.email %><% } else { %>traveller<% } %>,</h2>
<hr>
<p>Luke Skywalker has vanished. In his absence, the sinister FIRST ORDER has risen from the ashes of the Empire and will not rest until Skywalker, the last Jedi, has been destroyed.</p>

<p>With the support of the REPUBLIC, General Leia Organa leads a brave RESISTANCE. She is desperate to find her brother Luke and gain his help in restoring peace and justice to the galaxy.</p>

<p>Leia has sent her most daring pilot on a secret mission to Jakku, where an old ally has discovered a clue to Luke’s whereabouts….</p>

<p>Nulla quis neque ac quam venenatis bibendum. Ut a mollis lorem. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam massa purus, pretium sollicitudin risus eu, porta pulvinar est. Vestibulum mollis libero a justo faucibus consequat. Phasellus gravida nec sem a lacinia. Nullam hendrerit mi sit amet magna feugiat varius. Curabitur eget velit quis leo cursus ultricies. Suspendisse ac imperdiet purus, non bibendum dolor. In maximus ex sit amet fringilla gravida. Suspendisse tortor lectus, placerat sit amet maximus at, tincidunt quis risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent interdum sit amet massa vel commodo.</p>

<p>Nullam odio massa, hendrerit sed mauris sit amet, gravida ornare lorem. Maecenas tincidunt iaculis suscipit. Donec at sapien in ligula porta dapibus sit amet sed est. Phasellus maximus, nulla eu mattis eleifend, dolor dui auctor velit, at dictum mauris mauris id quam. Vestibulum tempor ante ut enim lacinia pretium. Nam placerat egestas efficitur. Duis molestie eget orci et tincidunt. Suspendisse non enim vitae lectus mattis semper. Etiam semper, nisl sit amet imperdiet sollicitudin, sapien eros feugiat odio, sit amet malesuada tortor lacus quis mauris.</p>

<p>Ut iaculis fermentum magna a porttitor. Sed congue, nunc vitae faucibus faucibus, neque tellus cursus tortor, vel commodo lorem nibh a eros. Pellentesque molestie porta est sit amet lacinia. Nunc sed felis vestibulum, blandit sapien vitae, placerat risus. Morbi lacus odio, efficitur sed quam at, lacinia convallis libero. Nullam interdum ex sed enim lacinia, et eleifend massa imperdiet. Aenean ornare efficitur ex, sed pharetra arcu vulputate sed. Morbi non purus sit amet erat rhoncus tristique a id arcu. Sed eros neque, imperdiet eget luctus nec, facilisis vel urna.</p>
<img src="/images/ticket.png"/>